/* Canviar el fons del menú lateral */
.module {
    background-color: #45b6d6 !important;
}

/* Canviar el color dels botons */
.button, input[type="submit"] {
    background-color: #45b6d6 !important;
    color: white !important;
}
