{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'marcatge/style.css' %}">
<script type="text/javascript" src="{% static 'marcatge/jquery.js' %}"></script>
<table class="taula_panell">
	<tbody>
		<tr>
			<td class="codi" colspan="3">
                  <input type="password" name="codi" id="codi">
            </td>
		</tr>
		<tr>
              {% if error_message %}<td colspan="3" class="error_message"><strong>{{ error_message }}</strong></td>{% endif %}
              {% if success_message %}<td colspan="3" class="success_message"><strong>{{ success_message }}</strong></td>{% endif %}
		</tr>
		<tr>
			<td class="ax">
                <button onclick="write_password('1')">1</button>
            </td>
			<td class="ax">
                <button onclick="write_password('2')">2</button>
            </td>
			<td class="ax">
                <button onclick="write_password('3')">3</button>
            </td>
		</tr>
		<tr>
			<td class="ax">
                <button onclick="write_password('4')">4</button>
            </td>
			<td class="ax">
                <button onclick="write_password('5')">5</button>
            </td>
			<td class="ax">
                <button onclick="write_password('6')">6</button>
            </td>
		</tr>
		<tr>
			<td class="ax">
                <button onclick="write_password('7')">7</button>
            </td>
			<td class="ax">
                <button onclick="write_password('8')">8</button>
            </td>
			<td class="ax">
                <button onclick="write_password('9')">9</button>
            </td>
		</tr>
		<tr>
			<td class="ax">
                <button onclick="write_password('0')">0</button>
            </td>
			<td class="esborrar text_button" colspan="2">
                <button onclick="delete_password()">Esborrar</button>
            </td>
		</tr>
		<tr>
			<td class="consulta text_button">
                <button onclick="send_consulta('{% url 'marcatge:consultar_marcatge' %}')">Consultar</button>
            </td>
			<td class="entrada text_button">
                <button onclick="send_entrada('{% url 'marcatge:marcar_entrada' %}')">Entrada</button>
            </td>
			<td class="sortida text_button">
                <button onclick="send_sortida('{% url 'marcatge:marcar_sortida' %}')">Sortida</button>
            </td>
		</tr>
	</tbody>
</table>

{% csrf_token %}
<script type="text/javascript">
    // INICI Coses per poder enviar posts desde jquey.ajax
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });
    // FI Coses per poder enviar posts desde jquey.ajax

    function write_password(new_char) {
        var old_val = document.getElementById('codi').value;
        document.getElementById('codi').value = old_val.concat(new_char);
    }

    function delete_password() {
        document.getElementById('codi').value = "";
    }

    function send_entrada(url) {
        $.ajax({
            type: "POST",
            url: url,
            data: {
                "codi": $("#codi").val(),
            },
            success: function(data){
                console.log("success");
                $('html').html(data);
            },
            failure: function(data){
                console.log("failure");
                $('html').html(data);
            },
        });
    }

    function send_sortida(url) {
        $.ajax({
            type: "POST",
            url: url,
            data: {
                "codi": $("#codi").val(),
            },
            success: function(data){
                console.log("success");
                $('html').html(data);
            },
            failure: function(data){
                console.log("failure");
                $('html').html(data);
            },
        });
    }

    function send_consulta(url) {
        $.ajax({
            type: "GET",
            url: url,
            data: {
                "codi": $("#codi").val(),
            },
            success: function(data){
                console.log("success");
                $('html').html(data);
            },
            failure: function(data){
                console.log("failure");
                $('html').html(data);
            },
        });
    }

</script>